

<mat-label>Filter:</mat-label>
<mat-form-field class="table-filter">
  <input matInput (keyup)="applyFilter($event)" placeholder="search..." #input>
</mat-form-field>

<button class="editButton" mat-button (click)="openEditDialog()">Edit</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <input type="checkbox" id="{{element.id}}" name="id" value="{{element.id}}" (change)="onCheck(element.id)">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Total Clocked In Time Column -->
    <ng-container matColumnDef="totalClockedInTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Clocked In Time </th>
      <td mat-cell *matCellDef="let element"> {{element.totalClockedInTime}} </td>
    </ng-container>

    <!-- Total Paid Regular Column -->
    <ng-container matColumnDef="totalPaidRegular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Paid Regular </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPaidRegular | number:'.2-2'}} </td>
    </ng-container>

    <!-- Total Paid Overtime Column -->
    <ng-container matColumnDef="totalPaidOvertime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Paid Overtime </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPaidOvertime | number:'.2-2'}} </td>
    </ng-container>

    <!-- View button Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <button type="button" (click)="showEmployee(element.id)">View</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let element;" [ngStyle]="{'background-color': element.status === 'true' ? 'none' : '#ede4e4' }"></tr>
  </table>

  <mat-paginator [length]="dataSource.length" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>

