<h2 mat-dialog-title>Employee Overview</h2>
<mat-dialog-content class="mat-typography">
  <p><b>Name:</b> {{data.fullname}}</p>
  <p><b>e-mail:</b> {{data.email}}</p>
  <p><b>Hourly Rate:</b> {{data.hourlyRate}}</p>
  <p><b>Overtime Hourly Rate:</b> {{data.overtimeHourlyRate}}</p>
  <p><b>Status:</b> {{data.status === "true" ? 'Active': 'Inactive'}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>