<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="header">
  <div class="title">
    <p [translate]="'global_title'"></p>
  </div>
</div>
<div class="content">
  <div class="content-item">
    <div class="content-header" [translate]="'numberOfEmployees'"></div>
    <div class="content-body">{{numberOfEmployees}}</div>
  </div>
  <div class="content-item">
    <div class="content-header" [translate]="'clockedIn'"></div>
    <div class="content-body">{{clockedInTime}}</div>
  </div>
  <div class="content-item">
    <div class="content-header" [translate]="'regularPaid'"></div>
    <div class="content-body">{{regularTimePaid | number:'.2-2'}}</div>
  </div>
  <div class="content-item">
    <div class="content-header" [translate]="'overtimePaid'"></div>
    <div class="content-body">{{overtimePaid | number:'.2-2'}}</div>
  </div>
</div>
<div class="mat-app-background basic-container">
  <table-pagination>loading</table-pagination>
</div>



