@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0px;
}

.header {
  position: relative;
  top:0px;
  right:0px;
  left:0px;
  background-image: linear-gradient(rgb(237, 228, 228), rgb(182, 178, 178));
  border-bottom:1px solid black;
  height:100px;
  width:100%;
  z-index:1;
}

.basic-container {
  position: relative;
  top:100px;
}

.content {
  position: absolute;
  top: 100px;
  left: 25px; 
}

.content-item {
  position: relative;
  float: left;
  width:250px;
  height:80px;
  border: 1px solid black;
  margin: 10px;
}

.content-header{
  height: 20px;
  border-bottom: 1px solid black;
  background-image: linear-gradient(rgb(237, 228, 228), rgb(182, 178, 178));
  padding-left: 10px;
}

.content-body {
  padding: 10px;
}

.title {
  position: relative;
  top: 28px;
  left: 16px;
  font-size: 2em;
}

.title p{
  margin: 0px;
}

.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
