.dialog-title {
color:black;
}

mat-dialog-container#mat-dialog-0 {
  width: 500px;
}

.employee-container {
  width: 650px;
}

.employee-name {
  width: 250px;
  height: 60px;
  float: left;
}

.employee-status {
  width: 250px;
  height: 60px;
  float: left;
}

.employee-hourly {
  width: 250px;
  height: 60px;
  float: left;
}

.employee-overtime {
  width: 250px;
  height: 60px;
  float: left;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

tbody {
  height: 300px;
  overflow: scroll;
}

th {
  background-color: #ccc9c9;
}

tr, td{
  border: 1px solid black;
}

.my-custom-scrollbar {
  width: 100%;

  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
}


