<div class="content-item">
  <div class="content-header">
    <p mat-dialog-title class="dialog-title">Edit Employees</p>
  </div>
  <div class="content-body">
    <mat-dialog-content class="mat-typography edit-employee">
      <div *ngIf="data.length === 0">
        <p>No employees selected for edit.</p>
      </div>
      <div *ngIf="data.length != 0">
        <div *ngFor="let employeeData of data.data; index as i">
          Employee {{i+1}}
          <div class="employee-container">
            <hr>
            <div class="employee-name">
              <p><b>Employee Name:</b></p>
              <div >
                <editable (update)="updateField(i, 'fullname')">
                  <ng-template viewMode>{{employeeData.fullname}}</ng-template>
                  <ng-template editMode>
                    <input [formControl]="getControl(i, 'fullname')" focusable editableOnEnter>
                  </ng-template>
                </editable>
              </div>
            </div>
            <div class="employee-status">
              <p><b>Employee Status:</b></p>
              <div>
                <editable (update)="updateField(i, 'status')">            
                  <ng-template viewMode>{{employeeData.status.toString()=='true' ? 'Active' : 'Inactive'}}</ng-template>
                  <ng-template editMode>
                    <input type="checkbox" [formControl]="getControl(i, 'status')" [checked]="employeeData.status.toString()=='true' ? true : false">{{'Active'}}
                  </ng-template>
                </editable>
              </div>  
              </div>
            <div class="employee-hourly">
              <p><b>Employee Hourly Rate:</b></p>
              <div>
                <editable (update)="updateField(i, 'hourlyRate')">
                  <ng-template viewMode>{{employeeData.hourlyRate}}</ng-template>
                  <ng-template editMode>
                    <input [formControl]="getControl(i, 'hourlyRate')" focusable editableOnEnter>
                  </ng-template>
                </editable>
              </div>  
            </div>
            <div class="employee-overtime">
              <p><b>Employee Overtime Hourly Rate:</b></p>
              <div >
                <editable (update)="updateField(i, 'overtimeRate')">
                  <ng-template viewMode>{{employeeData.overtimeRate}}</ng-template>
                  <ng-template editMode>
                    <input [formControl]="getControl(i, 'overtimeRate')" focusable editableOnEnter>
                  </ng-template>
                </editable>
              </div>  
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <th>Clock in</th>
                  <th>Clock out</th>
                  <th>Total time</th>
                </thead>
                <tbody >
                  <tr *ngFor="let shift of employeeData?.shifts?.shifts; index as y">
                    <td>                
                      <editable (update)="updateShiftField(i, y, 'clockIn')">
                        <ng-template viewMode>{{getTimeDate(shift.clockIn)}}</ng-template>
                        <ng-template editMode>
                          <input [formControl]="getShiftControl(i, y, 'clockIn')" focusable editableOnEnter>
                        </ng-template>
                      </editable>
                    </td>   
                    <td>{{getTimeDate(shift.clockOut)}}</td>
                    <td>{{getTotalTime(shift.clockIn, shift.clockOut)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
          </div>    
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div *ngIf="data.length != 0">
        <button mat-button mat-dialog-save (click)="onSubmitChanges()">Save</button>
      </div>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>

